@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --yellow-color: #fbffa7;
  --green-color: #b6ffc0;
  --violet-light-color: #d5b3ff;
  --periwinkle-light-color: #b1c5ff;
  --blue-strong-color: #0000ff;
  --pink-orange-color: #ff764d;
  --bg-gray-color: #f3f3f3;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  /* outline: none; */
  /* border: none; */
}

html {
}

body {
  position: absolute;
  background-color: var(--bg-gray-color);
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  height: auto;
}

.app {
  position: relative;
  margin: auto;
  width: auto;
  max-width: 100rem;
  background-color: white;
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  /* background-color: red; */
  /* padding-left: 30px;
  padding-top: 5px; */
}

.header-navigation {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  font-size: 1rem;
}

.header-left #active {
  color: var(--pink-orange-color);
}

.header-right #trial {
  color: var(--blue-strong-color);
  font-size: 1rem;
  font-weight: 500;
  padding-right: 2rem;
}

.header-right #register {
  font-weight: 500;
  font-size: 0.8rem;
}

.header-right {
  position: relative;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link-active {
  color: black;
  text-decoration: none;
}

.mega-menu-container {
  display: none;
  flex-wrap: wrap;
  padding: 3%;
  padding-top: 1.5%;
  padding-left: 3%;
}

.mega-menu-container .mega-menu-item {
  padding-top: 3%;
}

.mega-menu-container h1 {
  padding-bottom: 0.5%;
  font-size: 24px;
  font-weight: 500;
}

.mega-menu-container .mega-menu-list-on {
  display: flex;
  gap: 2%;
  list-style: none;
  padding-left: 0;
}

.mega-menu-list-on a {
  text-decoration: none;
  color: black;
}

.mega-menu-container .mega-menu-list-from {
  display: flex;
  gap: 2%;
  list-style: none;
  padding-left: 0;
}

.mega-menu-container .mega-menu-list-from li {
  flex: 1;
  margin-right: 2%;
}

.mega-menu-container .mega-menu-list-from li b {
  font-weight: 500;
  font-size: 16px;
}

.mega-menu-container .mega-menu-list-from li p {
  font-size: 15px;
}

.extension-navigation {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
  padding: 1.6rem;
  padding-left: 2.4rem;
  gap: 1.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
  opacity: 95%;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 5;
  background-color: #fff;
  border-top: 2px solid lightgray;
}

.app .extension-navigation #active {
  color: var(--pink-orange-color);
}

.body-image-container .about-title {
  position: absolute;
  color: #fd5948;
  font-size: 6rem;
  font-weight: 500;
}

.home .body-image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
}

.home .body-image {
  object-fit: fill;
  width: 80%;
}

.home .body-text-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5%;
  max-width: 90%;
  width: 48rem;
  margin: auto;
}

.home .body-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5%;

  width: 90%;
  line-height: 30px;
}

.home .body-text-bold {
  margin-bottom: 1rem;
  font-size: clamp(1.125rem, 0.9003rem + 0.6329vw, 1.375rem);
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40px;
}

.bold-highlight {
  color: #0000ff;
  text-decoration: none;
  font-weight: 600;
}

.home .body-text-plain {
  letter-spacing: 1px;
  font-size: clamp(0.875rem, 0.6503rem + 0.6329vw, 1.125rem);
}

.about {
  display: flex;
  padding-top: 4vh;
  overflow: hidden;
}

.about .images-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.images-container .img-01 {
  display: flex;
  position: absolute;
  object-fit: cover;
  background-size: cover;
  width: 42%;
  height: 70%;
  left: 8%;
  z-index: 1;
}

.images-container .img-02 {
  display: flex;
  position: relative;
  background-size: contain;
  background-color: #fbffa7;
  object-fit: contain;
  padding: 15%;
  padding-top: 18%;
  padding-bottom: 18%;
  max-width: 100%;
  height: auto;
  width: 63%;
  right: -5%;
}

.about .about-text-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  max-width: 80%;
  width: 50rem;
  margin: auto;
}

.about .about-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 48rem;
  line-height: 30px;
}

.about .about-text-bold {
  margin-bottom: 1rem;
  font-size: clamp(0.875rem, 0.538rem + 0.9494vw, 1.25rem);
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
}

.about .about-text-plain {
  letter-spacing: 2px;
  font-size: clamp(0.75rem, 0.5253rem + 0.6329vw, 1rem);
}

.about .video-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
  max-width: 100%;
  height: auto;
}

.video-container .video-block {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: start;
  max-width: 80%;
}

.about .video-container img {
  max-width: 100%;
  /* width: 60%; */
  height: auto;
}

.about .video-container b {
  padding-top: 1%;
  font-size: 12px;
}

/* next block color = rgb(182, 255, 192) (Pastel Green) */
.about .image-collage {
  padding-top: 8%;
}

.image-collage .collage-background-green {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgb(182, 255, 192);
  justify-content: center;
  align-items: center;
  max-width: 933px;
  max-height: 1200px;
  width: 58%;
  height: 75vw;
  left: 0;
}

.collage-background-green .collage-image-block {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  gap: 10vw;
  top: -1%;
  left: -3vw;
  z-index: 1;
}

.image-collage .collage-image-block img {
  display: inline-block;
  object-fit: cover;
  /* image width heigh is width="512px" height="384px"*/
  max-width: 512px;
  max-height: 400px;
  width: 33vw;
  height: 25vw;
}

.image-collage #image-collage-green-03 {
  position: absolute;
  max-width: 667px;
  max-height: 667px;
  width: 39vw;
  height: auto;
  bottom: 22%;
  right: -54%;
  z-index: 1;
}

.about #solo-img08 {
  padding: 8%;
  padding-left: 10%;
  padding-right: 10%;
}

.about .image-collage-pink {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58vw;
}

.image-collage-pink .collage-image-block {
  position: absolute;
  background-color: var(--violet-light-color);
  /* width: 1067px; */
  /* height: 58rem; */
  width: 65%;
  height: 100%;
}

.image-collage-pink #collage-img09 {
  position: relative;
  left: -5%;
  max-width: 666px;
  max-height: 500px;
  width: 33%;
  height: auto;
  z-index: 2;
}

.image-collage-pink #collage-img10 {
  position: relative;
  right: -13.5%;
  max-width: 834px;
  max-height: 834px;
  width: 40%;
  height: auto;
  z-index: 2;
}

/* At 1280px width, blue collage collapses into column layout */
.about .image-collage-blue {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36vw;
  /* margin-top: 8%; */
  margin-bottom: 8%;
}

.image-collage-blue .collage-img11 {
  /* background-image: url("../images/about/img11-about.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 800px;
  max-height: 800px;
  width: 42%;
  height: 100%;
}

.image-collage-blue #smScreen-option {
  display: none;
}

.image-collage-blue .image-collage-blue-bg {
  background-color: var(--periwinkle-light-color);
  align-content: center;
  padding: 7%;
  max-width: 800px;
  max-height: 800px;
  width: 42%;
  height: 100%;
}

.image-collage-blue .about-text-bold {
  font-size: 22px;
  font-weight: 500;
  line-height: 3rem;
}

.image-collage-blue .bold-highlight {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

footer {
  padding: 8%;
  padding-top: 5%;
  line-height: 1.5;
  border-top: 2px solid lightgray;
}

footer .ft-title {
  font-size: 58px;
  font-weight: 600;
  padding-bottom: 1rem;
}

footer ul {
  list-style: none;
  padding-left: 0;
  border: 1px solid red;
}

footer a {
  text-decoration: none;
  color: black;
}

.ft-main {
  display: flex;
  flex-direction: row;
  flex: 2;
  /* flex-wrap: wrap; */
  /* padding: 1.25rem 1.875rem; */
}

.ft-main-item {
  flex: 1;
  padding: 1.25rem;
  /* min-width: 10.5rem; */
}

.ft-main-item .ft-main-item-signup {
}

.ft-main-item input {
  background-color: lightgray;
}

.ft-main-item button {
  background-color: #0000ff;
  color: white;
}

.ft-legal .ft-legal-list {
  display: flex;
  justify-content: space-between;
  /* gap: 2rem; */
}

.ft-legal-list div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.ft-legal li {
  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 1280px) {
  .about #text-container-06 {
    margin-bottom: 0%;
  }

  .about .image-collage-blue {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vw;
    margin-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .image-collage-blue #lgScreen-option {
    display: none;
  }

  .image-collage-blue .collage-img11 {
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 751px;
    max-width: 1253px;
    padding: 0%;
    width: 100%;
    height: auto;
  }

  .image-collage-blue #smScreen-option {
    display: flex;
  }

  .image-collage-blue .image-collage-blue-bg {
    background-color: var(--periwinkle-light-color);
    align-content: center;
    max-width: 1280px;
    max-height: 1280px;
    padding: 10%;
    width: 100%;
    height: auto;
  }

  .image-collage-blue .about-text-bold {
    line-height: 2.2rem;
    font-size: clamp(0.6rem, 0.5506rem + 1.2658vw, 1.5rem);
  }

  .image-collage-blue .bold-highlight {
    font-size: clamp(0.6rem, 0.5506rem + 1.2658vw, 1.5rem);
    font-weight: 500;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1030px) {
  .ft-main {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 2400px) {
  .ft-main {
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
  .about .image-collage-blue {
    margin-top: 15vw;
  }
}
