@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --yellow-color: #fbffa7;
  --green-color: #b6ffc0;
  --violet-light-color: #d5b3ff;
  --periwinkle-light-color: #b1c5ff;
  --blue-strong-color: #0000ff;
  --pink-orange-color: #ff764d;
  --bg-gray-color: #f3f3f3;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  /* outline: none; */
  /* border: none; */
}

html {
}

body {
  position: absolute;
  background-color: var(--bg-gray-color);
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid limegreen;
}

.app {
  position: relative;
  margin: auto;
  width: auto;
  max-width: 100rem;
  background-color: white;
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  /* background-color: red; */
  /* padding-left: 30px;
  padding-top: 5px; */
  border-bottom: 2px solid lightgray;
}

.header-navigation {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid limegreen; */
  width: 100%;
}

.header-navigation a {
}

.header-left {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  font-size: 1rem;
  /* border: 1px solid limegreen; */
}

.header-left #active {
  color: var(--pink-orange-color);
}

.header-right #trial {
  color: var(--blue-strong-color);
  font-size: 1rem;
  font-weight: 500;
  padding-right: 2rem;
}

.header-right #register {
  font-weight: 500;
  font-size: 0.8rem;
}

.header-right {
  position: relative;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.extension-navigation {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
  padding: 1.6rem;
  padding-left: 2.4rem;
  gap: 1.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  /* border: 1px solid limegreen; */
  width: 100%;
  opacity: 80%;
  z-index: 1;
  background-color: #fff;
}

.extension-navigation #active {
  color: var(--pink-orange-color);
}

.body-image-container .about-title {
  position: absolute;
  color: #fd5948;
  font-size: 6rem;
  font-weight: 500;
}

.home .body-image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
  /* border: 1px solid limegreen; */
}

.home .body-image {
  object-fit: fill;
  width: 80%;
}

.home .body-text-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  max-width: 90%;
  margin: auto;
  /* border: 1px solid limegreen; */
}

.home .body-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 48rem;
  line-height: 30px;
}

.home .body-text-bold {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40px;
}

.body-text-bold .bold-highlight {
  color: #0000ff;
  text-decoration: none;
  font-weight: 600;
}

.home .body-text-plain {
  letter-spacing: 1px;
}

.about {
  display: flex;
  padding-top: 10vh;
  overflow: hidden;
}

.about .images-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  margin: auto;
  border: 1px solid red;
}

.images-container .img-01 {
  display: flex;
  position: absolute;
  max-width: 100%;
  width: 50%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  border: 1px solid blue;
}

.images-container .img-02-container {
  display: flex;
  position: relative;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 15%;
  padding-right: 15%;
  right: -40%;
  height: auto;
  background-color: #fbffa7;
}

.images-container .img-02 {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
